<ion-header>
  <ion-toolbar>
    <ion-title>MyProjects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <b style="color:gray;">In Recognition of Codes
        </b>
      </ion-label>
      <p style="color:green;">En cours</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">Mega Man X</b></ion-label>
      <p style="color:red;">Terminé</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">The Legend of Zelda</b></ion-label>
      <p style="color:gold;">Démarré</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;"> Moving Bird </b></ion-label>
      <p style="color:red;">Terminé</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">The Blue Bird</b></ion-label>
      <p style="color:gold;">Démarré</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">Made by Me</b></ion-label>
      <p style="color:red;">Terminé</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">The Discovery of Era</b></ion-label>
      <p style="color:green;">En cours</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">Remembering Our Ancestors
        </b></ion-label>
      <p style="color:red;">Terminé</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">Meetup for the Good
        </b></ion-label>
      <p style="color:gold;">Démarré</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">The Success
        </b></ion-label>
      <p style="color:gold;">Démarré</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">Project Explained
        </b></ion-label>
      <p style="color:green;">En cours</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">The Social Experiment
        </b></ion-label>
      <p style="color:gold;">Démarré</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">The Network
        </b></ion-label>
      <p style="color:red;">Terminé</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">Coding Region
        </b></ion-label>
      <p style="color:gold;">Démarré</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">Town Hall Meeting
        </b></ion-label>
      <p style="color:green;">En cours</p>
    </ion-item>
  </ion-list>
</ion-content>