<ion-header>
  <ion-toolbar>
    <ion-title>MyMessages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>





    <ion-item>
      <ion-label><img src="https://picsum.photos/40" />
        <b style="color:gray;">Christophe Barjavel
        </b>
      </ion-label>
      <p>13:41</p>
    </ion-item>

    <ion-item>
      <ion-label><img src="https://picsum.photos/40" /> <b style="color:gray;"> Christophe Barjavel</b>
      </ion-label>
      <p>Hier</p>
    </ion-item>

    <ion-item>

      <ion-label> <img src="https://picsum.photos/40" /> <b style="color:gray;"> Christophe Barjavel </b>
      </ion-label>
      <p>12/01</p>
    </ion-item>

    <ion-item>
      <ion-label><img src="https://picsum.photos/40" /> <b style="color:gray;"> Christophe Barjavel </b>
      </ion-label>
      <p>31/12/2020</p>
    </ion-item>

    <ion-item>
      <ion-label><img src="https://picsum.photos/40" /> <b style="color:gray;"> Christophe Barjavel </b>
      </ion-label>
      <p>26/12/2020</p>
    </ion-item>

    <ion-item>
      <ion-label><img src="https://picsum.photos/40" /> <b style="color:gray;"> Christophe Barjavel</b>

      </ion-label>
      <p>12/12/2020</p>
    </ion-item>

  </ion-list>
</ion-content>