<ion-header>
  <ion-toolbar>
    <ion-title>MyNotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <b style="color:gray;">In Recognition of Codes
        </b>
        <p>Tidak seperti anggapan banyak orang...</p>
      </ion-label>
      <p>13/10/2020</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">Mega Man X</b>
        <p>Tidak seperti anggapan banyak orang...</p>
      </ion-label>
      <p>09/08/2020</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">The Legend of Zelda</b>
        <p>Tidak seperti anggapan banyak orang...</p>
      </ion-label>
      <p>08/08/2020</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;"> Moving Bird </b>
        <p>Tidak seperti anggapan banyak orang...</p>
      </ion-label>
      <p>01/08/2020</p>
    </ion-item>
    <ion-item>
      <ion-label><b style="color:gray;">The Blue Bird</b>
        <p>Tidak seperti anggapan banyak orang...</p>
      </ion-label>
      <p>26/05/2020</p>
    </ion-item>

  </ion-list>

</ion-content>