<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>





    <ion-item>
      <ion-label>
        <b style="color:gray;">Identify resources
        </b>
        <p style="color:orange;">The Network</p>
      </ion-label>
      <p style="color:green;">En cours</p>
    </ion-item>

    <ion-item>
      <ion-label><b style="color:gray;"> Define users and workflow</b>
        <p style="color:orange;">The Network</p>
      </ion-label>
      <p style="color:red;">Terminé</p>
    </ion-item>

    <ion-item>
      <ion-label><b style="color:gray;"> Identify event sources </b>
        <p style="color:orange;">The Network</p>
      </ion-label>
      <p style="color:gold;">Démarré</p>
    </ion-item>

    <ion-item>
      <ion-label><b style="color:gray;"> Define the relationship </b>
        <p style="color:orange;">The Network</p>
      </ion-label>
      <p style="color:red;">Terminé</p>
    </ion-item>

    <ion-item>
      <ion-label><b style="color:gray;">Identify tasks </b>
        <p style="color:orange;">The Network</p>
      </ion-label>
      <p style="color:gold;">Démarré</p>
    </ion-item>

    <ion-item>
      <ion-label><b style="color:gray;">Define the server configuration</b>
        <p style="color:orange;">The Network</p>
      </ion-label>
      <p style="color:red;">Terminé</p>
    </ion-item>

  </ion-list>
</ion-content>