<ion-header>
  <ion-toolbar>
    <ion-title>MyAccount</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://picsum.photos/200" /><br>
      <ion-card-title>
        <h1>Gifford Étoile</h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><b>Nom & Prénom : </b>Gifford Étoile</p>
      <p><b>Email : </b> GiffordEtoile@armyspy.com</p>
      <p><b>Role : </b> Admin</p>
      <p><b>Adresse :</b> 60, rue Jean Vilar
        25000 BESANÇON</p>
      <p></p>
      <p><b>Téléphone : </b>03.90.70.60.08</p>
    </ion-card-content>
    <ion-card-footer>
      <ion-button color="primary">
        <ion-icon name="create-outline"></ion-icon> Editer
      </ion-button>
      <ion-button color="success">
        <ion-icon name="trail-sign-outline"></ion-icon> Déconnexion
      </ion-button>
    </ion-card-footer>
  </ion-card>
</ion-content>